//Variables
$colorFondo: #f2ccff;
$colorTitulos:#a775b7;
$colorEncab: #5197cc;
$colorParrafo: #0049e7;
$colorParrafoDos: #540197;
$colorTextoNav: #f2ccff;
$colorTextoFooter: #f2ccff;

$tipografiaUno: 'Homemade Apple', cursive;
$tipografiaDos: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
$tipografiaTres: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$tamanioTexto: 48px;
$tamanioTextoDos: 35px;
$tamanioTextoMedia: 28px;
$tamanioParrafo: 18px;
$tamanioParrafoInicial: 29px;
$tamanioProd: 25px;
$tamanioTextoNosotros: 22px;

$imgPrincipalW: 350px;
$imgPrincipalH: 350px;
$imgNosotrosH: 350px;

$footerMedia: 10px;